* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #fff;
}

h1 {
    color: #a1a1e0;
    font-family: Helvetica, sans-serif;
    font-size: 4rem;
}

#canvasGrayScale {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 533px;
    height: 533px;
    transform: translate(-50%, -50%);
}

#canvasMolecularSnow {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 680px;
    height: 661px;
    transform: translate(-50%, -50%);
}

#canvasMonochromeRain {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 700px;
    height: 700px;
    transform: translate(-50%, -50%);
}

#canvasDancer {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
}

#canvasRainArcs {
    top: 50%;
    left: 50%;
    position: absolute;
    max-width: 1280px;
    max-height: 720px;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

#canvasMolecularRain {
    top: 50%;
    left: 50%;
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

#canvasText {
    position: absolute;
    top: 0;
    left: 0;
}

#canvasMolecularText {
    position: absolute;
    top: 0;
    left: 0;
}

#canvasMolecularImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvasMolecularZeroG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.2; */
}

#canvasMolecularZeroGParticles {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(circle, rgba(159,255,255,1) 0%, rgba(255,220,246,1) 100%);
    /* opacity: 0.2; */
}

#canvasMolecularZeroGGoo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: url(#goo);
}

/* TWO DIVS FOR PRESENTATION PURPOSES */
.transparent-box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: transparent;
    border: 30px solid #a1a1e0;
    z-index: 999;
}

.container__transparent-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-block: 6vh solid #dbdbff;
    border-inline: 10vh solid #dbdbff;
    z-index: 9;
}
